/* GENERAL DECLARATIONS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;;
}

/* HEADER */

.header {
    background-color: #243042;
    display : flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    font-size: 18px;
    color: #aeb0b4;
    margin: 16px;
}

.header-links {
    padding-top: 39px;
    padding-right: 32px;;
}

.header-inner {
    display:flex;
    padding-left: 32px;
}

.title {
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 35px 0px 28px 0px;
    font-size: 28px;
    text-decoration: none;
}

.logo {
    width: 70px;
    max-width: 70px;
    height: 70px;
    padding: 16px 16px 16px 0px;
}

/* SECTION ONE */

.section-one {
    background-color: #243042;
}

.photo-holder {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    flex-shrink: 0;
}

.bankphoto {
    width: 400px;
    max-width: 400px;
    height: 250px;
    padding: 38px;
    opacity: 0.85;
}

.desc-holder {
    padding: 40px 32px 0px 0px;
    display: flex;
    flex-flow: column;
    max-width: 340px;
}

.desctitle {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.offertitle {
    padding-top: 18px;
    color: #dfe2e9;
    font-weight: bold;
    font-size: 16px;
}

.offers {
    padding-top: 6px;
    color: #aeb0b4;
    font-size: 15px;
}

.yazilimlogo {
    max-width: 250px;
    max-height: 250px;
    padding: 35px;
    padding-left: 200px;
}

/* SECTION TWO */

.section-two {
    background-color: #E5E7EB;
}

.container {
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    padding: 32px
}

.newstitle {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 28px;
    padding-top: 16px;
    padding-left: 40px;
}

.newsphoto {
    max-width: 400px;
    height: auto;
    transition: box-shadow .3s;
}

.newsphoto:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform: scale(1.008); 
}

.newsdesc {
    max-width: 400px;
    font-weight: bold;
    padding-top: 12px;
}

/* FOOTER */

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 6px;
}

a.footer-author {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

a.logo {
    transform: scale(0.9);
    max-width: 32px;
    max-height: 32px;
}

a.logo:hover {
    transform: scale(1);
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
